@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:400,500i,700';
$rale: 'Raleway', sans-serif;
$play: 'Playfair Display', serif;
$background:#3e3e3e;
$text: #f9f9f9;
$purp: #AD5BF5;

body{
  background-color: #4a4a4a;

  .navbar {
    color:$text;
    margin:0;
    font-family: $rale;
    .navbar-brand {
      font-weight:bold;
    }
  }
}

.purpback {
  background-color: $purp;
}

.white {
  color: $text;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}

.jumbotron {
  padding-bottom:75px;
  font-family: $rale;
  font-weight:bold;
  position: relative;
  background-color:$background;
  color: #F9F9F9;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.55);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  .purp {
    color:$purp;
  }
  .play {
    font-family: $play;
    font-size:1.4em;
    font-weight: 100;
  }
}

.headline {
  margin-top: -90px;
  margin-bottom:50px;
}

.sublanding {
  text-align:center;
  font-family:$play;
  color:$text;
  margin:0 150px;
  padding:20px;

  img {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
  }
}

.started {
  color:$text;
  height:400px;
  background-color: #585858;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;



  button {
    margin:10px;
    padding:10px;
    font-weight: bold;
    font-size:24px;
    border-radius:3px;
    background: none;
    border: 3px solid $purp;
    color:$purp;
    transition: all .7s ease;

    &:hover{
      color:$text;
      border-color: $text;
    }
  }
}

.options {
  color:$text;
  height:20vh;
  background-color:$background;
  border-radius: 3px;
  transition: all 1s ease;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:10px;
  &:hover {
    /* Rectangle 12: */
    z-index:1;
    transform: scale(1.05,1.05);
    background-color:$purp;
    border-radius: 3px;
  }
}

.session-view {
  padding:0 250px;
  .header-img {
    display:block;
    width:100%;
  }
}

.new {
  padding:20px;
  background-color:$text;
  border-radius:3px;
  margin:20px;
}

.session-header {
  color:$text;
  display: flex;
  flex-direction: row;
  align-items: center;
  .skill-level{
    margin-top:15px;
    padding-top:10px;
  }
  .name {
    height:100%;
  }
}

.table-white {
  background-color:#666;
  color:$text;
  font-family: $play;
}
